@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.experiments-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  &__header {
    padding: 24px;
  }

  &__table {
    flex: 1;
    overflow-y: auto;
  }

  &__loading,
  &__error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    @include body-medium;
    color: $text-secondary;
  }

  &__error {
    color: $code-red;
  }
}